.footer {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    background: $bg-wrapper;
}
.copyrights {
        width: 50%;
        font-family: $font-base-p;
        font-size: $font-size-small;
    }
.developer {
    width: 50%;
    text-align: right;
    font-family: $font-base-p;
    font-size: $font-size-small;
    text-transform: uppercase;
}
.site {
    font-weight: bold;
    text-decoration: none;
    color: black;
    
    &:hover {
        text-decoration: underline;
    }
}