.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 880px;
    margin-bottom: 35px;
    background: url(../img/main-image.png) no-repeat;
    color: $white-text;
}
.logo {
    position: absolute;
    top: 0;
    left: 179px;
}
.slogan {
    width: 60%;
    text-align: center;  
}
.menu-icon {
    background: url("../img/enter-btn.png") no-repeat;
    &:hover{
        
    }
}



