.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 80px;
    
    section {
        width: 30%;
        text-align: center;
        
        .menu-icon {
            @include size(100px, 100px);
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 50%;
            background: url("../img/VectorSmartObject.svg") no-repeat 15px 10px;
            background-size: 70%;
        }
    }
    .section2 {
        .menu-icon {
            background: url("../img/VectorSmartObject2.svg") no-repeat 15px 30px;
        background-size: 70%;
        }
    }
    .section3 {
        .menu-icon {
            background: url("../img/VectorSmartObject3.svg") no-repeat 15px 10px;
        background-size: 70%;
        }
    }
}
.underline {
    display: block;
    margin: 0 auto;
    width: 88px;
    border-top: 1px solid $underline;
    
}
.mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 700px;
    padding-top: 180px;
    background: $bg-wrapper url("../img/i-phone.png") no-repeat 180px 120px;
    
    &-article {
        width: 40%;
        
        .underline {
            margin: 0;
        }
    }
    
    a {
        display: inline-block;
        font-size: 0;
        transition: 0.5s;
    }
    
    a:hover {
        transform: scale(1.2);
    }
}
.app-store {
    @include size(112px, 39px);
    background: url("../img/icon-app.png");
    margin-right: 6px;
}
.google-play {
    @include size(120px, 39px);
    background: url("../img/icon-gp.png");
}

.comments {
    min-height: 382px;
    margin-bottom: 70px;
    padding-top: 80px;
    background:url("../img/bg-purple.png") no-repeat; 
    background-size: 100% 107%;
}
.meals {
    max-width: 1700px;
    padding: 0;

    &-header {
        text-align: center;
    }
    &-menu {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        a {
            display: block;
            width: 322px;
            height: 140px;
            padding: 65px 5px 20px 5px;
            text-decoration: none;
            text-align: center;
            font-family: $font-base-h2;
            font-size: $font-size-big;
            color: $white-text;
            background-size: cover;
            text-transform: uppercase;
        }
        a:hover {
            border-radius: 50%;
            -webkit-filter: saturate(150%);
            -webkit-transition: all 0.5s ease;
               -moz-transition: all 0.5s ease;
                 -o-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                    transition: all 0.5s ease;
        }
    }
}
.recipes {
    font-family: "Times New Roman", serif;
    font-size: $font-size-small;
    font-style: italic;
}
.meal {
    &-1 {
        background: url(../img/m-italian.png) no-repeat;
    }
    &-2 {
        background: url(../img/m-indian.png) no-repeat;
    }
    &-3 {
        background: url(../img/m-french.png) no-repeat;
    }
    &-4 {
        background: url(../img/m-steak.png) no-repeat;
    }
    &-5 {
        background: url(../img/m-sea.png) no-repeat;
    }
    &-6 {
        background: url(../img/m-sushi.png) no-repeat;
    }
    &-7 {
        background: url(../img/m-mexican.png) no-repeat;
    }
    &-8 {
        background: url(../img/m-china.png) no-repeat;
    }
    &-9 {
        background: url(../img/m-pizza.png) no-repeat;
    }
    &-10 {
        background: url(../img/m-american.png) no-repeat;
    }
}
.statistic-block {
    display: flex;
//    justify-content: space-around;
    padding: 50px 0;
}
.statistic {
    width: 20%;
    text-align: center;
}
.countings {
    margin-bottom: 10px;
    font-family: $font-base-h2;
    font-size: $font-size-big;
    font-weight: 700;
    color: #000;
    
    &-name {
        font-size: $font-size-small;
        font-style: italic;
    }
}
