//
// Variables
//--------------------------------------------


// === Colors

$white:                    #fff;
$white-text:               #fff;
$main-menu-btn:            #fff;
$grey-text:                #a5a5a5;
$light-text:               lighten($grey-text, 10%);
$headers-color:            #000;
$bg-wrapper:               #f7f7f7;

// === Typography

$font-base:                "Lato", "Arial", sans-serif;
$font-base-p:              "LatoLight", "Arial", sans-serif;
$font-base-h2:             "LatoBold", "Arial", sans-serif;

$font-size-base:           16px;
$font-size-big:            36px;
$font-size-small:          14px;
$font-size-h1:             50px;
$font-size-h1-article:     18px;
$font-size-h2:             18px; 

$line-height-base:         floor(($font-size-base * 1.6));
$line-height-h2:           floor(($font-size-h2 * 1.7));

 
